* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  background-color: lavender;
  #cityInput {
    width: 40vw;
    height: 40px;
    font-size: large;
    border: none;
    border-bottom: 2px solid mediumaquamarine;
    border-radius: 5px;
    margin-top: 100px;
    padding-left: 10px;
  }
  #switch {
    margin-top: 20px;
    place-self: start end;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + #slider {
        background-color: #2196f3;
      }
      &:focus + #slider {
        box-shadow: 0 0 1px #2196f3;
      }
      &:checked + #slider:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
      }
    }
    #slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      &::before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }
  }
  #cel-fa {
    place-self: center end;
  }
  .hide {
    display: none;
  }
  #container {
    padding: 20px;
    width: 40vw;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 60px);
    p {
      grid-column: 2;
      font-size: 1.5em;
    }
    .data1 {
      grid-column: 3;
      grid-row: 1/5;
      font-size: 3em;
    }
    img {
      grid-column: 1;
      grid-row: 1/5;
    }
  }
}
